
 
 

iframe {
  border: 1px solid black;
  width: 100%;
  height: auto;
}


  @media (min-width: 576px) {
    body::before {
     
    }
  }
  
  @media (min-width: 768px) {
    body::before {
          }
  }
  
  @media (min-width: 992px) {
    body::before {
   
    }
  }
  
  @media (min-width: 1200px) {
    body::before {
    
    }
  }
  
  @media (min-width: 1400px) {
    body::before {
   
    }
  }

